.subtitle
	position relative
	left -2px
	font 15px font-PTSansRegular, sans-serif
	line-height 1.53
	word-spacing -.4px

	&_align-words
		left 0
		word-spacing -.2px

	&_word-spacing_future
		word-spacing -.2px