.title
	position relative
	left -4px
	font 24px font-PTSansBold, sans-serif
	color color-brown

	&_align-javascript
		left -2px

	&_align-words
		left -2px

	&_margin-bottom_checkbox
		margin-bottom 10px

	&_margin-bottom_words
		margin-bottom 13px

	&_word-spacing_future
		word-spacing -.3px

	&_margin-bottom_future
		margin-bottom 8px