.data-completion
	margin-top 67px

	&__label
		position relative
		top 14px
		left -4px
		font 22px font-PTSansBold, sans-serif
		line-height 57px
		letter-spacing .3px
		color color-brown

	&__input
		position relative
		left -3px
		size 240px 57px
		font 30px font-CourierNew, serif
		line-height 57px
		text-indent 9px
		color color-dark-brown
		background url('/assets/images/line-completion.png') 0 45px no-repeat, transparent
		border none
		inputPlaceholder-color(color-dark-brown)
