mixin data-completion()
	+b.data-completion&attributes(attributes)
		block

		+e('label').label&attributes({'for': 'label-completion'}) Дата заполенения
		+e('input').input&attributes({'type': 'text', 'id': 'label-completion', 'placeholder': '27.03.2017'})