.description
	position relative
	left -6px
	margin-top 21px
	margin-bottom 39px
	width 774px

	&__box
		background url('/assets/images/line-text.png') 0 21px repeat-y

	&__p
		padding 0 6px
		width 100%
		font 30px font-CourierNew, serif
		line-height 60px
		cursor text
		color color-dark-brown