.description
	position relative
	left -6px
	margin-top 29px
	margin-bottom 39px
	width 774px

	&__p
		padding-bottom 16px
		font 30px font-CourierNew, serif
		line-height 43px
		text-indent 6px
		color color-dark-brown
		background url('/assets/images/line-text.png') 0 14px no-repeat