.address
	margin-top 13px
	margin-bottom 60px

	&__year-li
		margin-bottom 4px

	&__city-li
		margin-bottom 6px

	&__skype-li
		margin-bottom 2px

	&__mail-li
		margin-bottom 1px

	&__name-label,
	&__year-label,
	&__city-label,
	&__skype-label,
	&__mail-label
		position relative
		top 13px
		left -4px
		height 57px
		font 22px font-PTSansBold, sans-serif
		line-height 57px
		letter-spacing .3px
		color color-brown

	&__skype-label
		top 11px

	&__name-input,
	&__year-input,
	&__city-input,
	&__skype-input,
	&__mail-input
		height 57px
		font 30px font-CourierNew, serif
		line-height 57px
		text-indent 20px
		color color-dark-brown
		border none
		inputPlaceholder-color(color-dark-brown)

	&__name-input
		width 638px
		text-indent 22px
		background url('/assets/images/line-name.png') -8px 27px no-repeat, transparent

	&__year-input
		size 623px 59px
		line-height 59px
		background url('/assets/images/line-year.png') 5px 29px no-repeat, transparent

	&__city-input
		width 586px
		background url('/assets/images/line-city.png') 0 26px no-repeat, transparent

	&__skype-input
		width 702px
		background url('/assets/images/line-skype.png') 5px 45px no-repeat, transparent

	&__mail-input
		width 702px
		background url('/assets/images/line-mail.png') 5px 45px no-repeat, transparent

